$primaryBg: rgb(47 47 47);
$borderColor: rgb(200 200 200);
$overlayBg: rgba(0, 0, 0, 0.5);

$primary: #0d6efd;
$secondary: #6c757d;
$success: rgb(25, 135, 84);
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: rgb(248, 249, 250);
$dark: #212529;
